* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;

}

h3 {
  color: hsl(178, 100%, 50%);
  text-align: left;
  margin:1rem auto;
}

p {
  color: hsl(215, 51%, 70%);
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

hr {
  border-style: solid none none;
  border-color: hsl(215, 32%, 27%);
}


.container {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 94vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  width: 300px;
  height: 550px;
  text-align: center;
  padding: 1.2rem 1.5rem;
}

.image {
  position: relative;
  border-radius: 15px;
}

.image__img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: hsl(178, 100%, 50%, 40%);
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.image__overlay:hover {
  opacity: 1;
  cursor: pointer;
}


.box {
  text-align: left;
  padding: 0 0 1.5rem;
}
.details {
  display: inline;
  text-align: left;
  color: hsl(178, 100%, 50%);
  margin-right: 110px;
}

.time-left {
  display: inline;
  color: hsl(215, 51%, 70%);
  text-align: right;
}

.icon {
  margin-right: 2px;;
}

.box-2 {
  width: 100%;
  padding: 1rem 0 ;
  text-align: left;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

}

.avatar {
  width: 35px;
  height: 35px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  border-radius: 100%;
  margin-right: 1.5rem;
}

.text {
  position: relative;
  top: 8px;
}

.cyan {
  color: hsl(178, 100%, 50%);
}

.attribution {
  background-color: hsl(217, 54%, 11%);
  color: #fff;
  padding: 0 0 2.4rem;
}

.hover:hover {
  cursor: pointer;
}
